<tr>
  <td><%= link_to truncate(gist.question.text, length: 25), admin_question_path(gist.question) %></td>
  <td><%= link_to gist.hash, gist.url, target: :blank %></td>
  <td><%= link_to gist.user.email %></td>
</tr>
