<h4>Главная страница приложения</h4>
<ul>
  <li><%= link_to 'Об авторе', '/about/author', target: :_blank %></li>
  <li><%= link_to 'О проекте', 'about', target: :_blank %></li>
</ul>
<h4>Начать прохождение тестов (на английском языке):</h4>
<ul>
  <li><%= link_to 'Открыть список тестов', tests_path %></li>
</ul>
