<h4>TestGuru main page</h4>

<ul>
  <li><%= link_to 'About author', '/about/author', target: :_blank %></li>
  <li><%= link_to 'About project', 'about', target: :_blank %></li>
</ul>

<h4>Start passing tests:</h4>

<ul>
  <li><%= link_to 'Show available tests', tests_path %></li>
  <li><%= link_to 'Show available badges', badges_path %></li>
</ul>
