.nav.user {
  text-align: right;
}

.nav.logout {
  text-align: right;
}

.nav.sign {
  text-align: right;
}

.nav.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.nav.nav-admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav-admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav-admin.user {
  float: right;
}

.nav-admin.user-email {
  text-decoration: underline;
}

.nav.nav-admin {
  color: #ffffff;
}
