<hr align="center">
<footer class='footer'>
  <p>Приложение Test-Guru предназначено для создания и управления различными тестовыми заданиями.</p>
  <%= current_year %> | <%= author_name %> | <%= githib_url(author_git, repo) %> | <%= thinknetica %>
</footer>
